.answer {
  top: 0;
  padding: 0 10px;

  line-height: 27px;

  background: rgba(21, 46, 74, 0.5);

  list-style: none;
}

.answer > p {
  font-size: 14px;
}

hr {
  border-top: 2px solid grey;
}

.hr-answer {
  margin: 10px 0;

  border-top: 2px solid #435C7A;
}

.h2, h2 {
  font-size: 16px;
}

blockquote {
  font-size: 15px;
}

.answer-is-accepted, .answer-not-accepted {
  font-weight: bold;
}

.answer-is-accepted {
  color: #00A77F;
}

.answer-not-accepted {
  color: #B23A2C;
}

.upvotes {
  font-weight: bold;
  margin-bottom: 20px;
}

img {
  max-width: 90%;
  max-height: 90%;
}

.question-detail {
  padding: 0 10px;
}

.question-detail-title {
  font-size: 16px;
}

pre {
  padding: 0 10px;
}

code {

}
